body {
    text-align: center;
    padding: 20px;
}
h1 {
    color: #990517;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#stories {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.story {
    background: #990517;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
}
.story a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}